<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485553656526-ij2k9gpbrr59vu83rq3pa1n6rdnpeqgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485553656526-ij2k9gpbrr59vu83rq3pa1n6rdnpeqgj</string>
	<key>API_KEY</key>
	<string>AIzaSyA-FFLLjbySdaam_S1WKigCeWI5fAg8mf8</string>
	<key>GCM_SENDER_ID</key>
	<string>485553656526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>learn.flutter.mynotes</string>
	<key>PROJECT_ID</key>
	<string>toi-hoc-fullter-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>toi-hoc-fullter-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485553656526:ios:7f39dcdd977c242805f69f</string>
</dict>
</plist>